body {
    background: #0cabfa url(../img/Background.jpg) center fixed no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: auto;     
}